.navbar {
    background-color: red;
}

.navbar-brand {
    color: white !important;
}

#messages {
    height: 80vh;
    overflow: auto;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.in-msg {
    max-width: 90vh;
    background: rgba(255, 0, 0, 0.4);
}

.out-msg {
    max-width: 90vh;
    background: rgba(200, 200, 200, 0.4);
    float: right;
    text-align: right;
}

.srv-msg {
    text-align: center;
    font-size: small;
    font-style: italic;
}

#attachButton.hover {
    background-color: green;
}
#attachButton.drop {
    background-color: dodgerblue;
}
#attachButton.error {
    background-color: red;
}

#recordAudioPanel {
    position: absolute;
    right: 90px;
    bottom: 40px;
    background-color: rgba(128, 128, 128, 0.18);
    padding: 8px;
    border-radius: 8px;
}

#closeRecordAudioPanel {
    margin-top: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.red {
    background-color: red;
}